<div class='container'>
  <div class="columns">
    <h1>{{'budega.users' | translate }}</h1>
    <ng-container *ngrxLet="roleList$; let list; let e = $error, let c = $complete">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
          <mat-form-field class="col-md-3" [ngClass]="routeAnimationsElements">
            <input matInput placeholder="{{'budega.user.register.email' | translate }}"
                   formControlName="email" type="email" email="true">
            <mat-error *ngIf="form.get('email').invalid">
              {{'budega.notempty' | translate }}
            </mat-error>
          </mat-form-field>
          <span class="d-flex justify-content-between align-items-baseline">
              <mat-form-field appearance="fill" class="col" [ngClass]="routeAnimationsElements">
                <mat-label>{{'budega.user.role' | translate }}</mat-label>
                <mat-select formControlName="role" [compareWith]="customCompare" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let role of list" [value]="role">
                    {{ 'budega.role.'+role.name | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </span>
          <button mat-mini-fab [disabled]="form.get('email').invalid" matTooltip="{{'budega.employee.create' | translate }}">
            <fa-icon icon="paper-plane"></fa-icon>
          </button>
        </div>
      </form>
    </ng-container>

    <ng-container *ngrxLet="userList$; let list; let e = $error, let c = $complete">

<!--      <ng-container *ngIf="e">-->
<!--      TODO: MAKE THIS WORK-->
<!--        There is an error: {{e}}-->
<!--      </ng-container>-->
<!--      <ng-container *ngIf="c">-->
<!--        Observable completed: {{c}}-->
<!--      </ng-container>-->
      <div class='user-list'>
        <budega-user-list  [userList]="list"  *ngIf="list.length && !e && !c" >
        </budega-user-list>
      </div>
      <ng-container *ngIf="!list.length">
        <p><strong>{{'budega.user.emptylist' | translate }}</strong><br>{{'budega.user.addnew' | translate }}</p>
      </ng-container>
    </ng-container>
  </div>
</div>
