.container {
  margin-top: 1.25rem;
}
.product-price {
  font-weight: bold;
}
mat-card {
  margin-top: 1rem;
}
mat-card-actions {
  margin: 1rem;
}

.icon-product-card {
  width: 2rem !important;
  min-width: unset !important;
}
.product-cart {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.product-cart-img {
  max-width: 64px;
  max-height: 64px;
  margin: 0 auto !important;
}

h4 {
  margin: 1rem !important;
}

.buy-button {
  margin: 1rem !important;
  font-weight: bold !important;
}
