$budega-black-primary: mat-palette($mat-grey, 900, 300, 700);
$budega-black-accent: mat-palette($mat-orange, 400);
$budega-black-warn: mat-palette($mat-red, 500);

$budega-black-theme: mat-dark-theme(
  $budega-black-primary,
  $budega-black-accent,
  $budega-black-warn
);
