<ng-container *ngrxLet='edit$'>
  <div class='container'>
    <form [formGroup]="form">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <h3>{{'budega.user.editing' | translate }}</h3>
          <mat-card>
            <span class="d-flex justify-content-between align-items-baseline">
              <strong>{{ form.controls['username'].value }}</strong>
                <mat-slide-toggle #activeToggle formControlName="enabled">{{ 'budega.user.active' | translate }}</mat-slide-toggle>
                <div>
<!--                  <button class='button-fab-action' mat-mini-fab color="accent" (click)="removeUser()" matTooltip="{{'budega.remove' | translate }}">-->
<!--                   <fa-icon icon="trash"></fa-icon>-->
<!--                  </button>-->
                  <button class='button-fab-action' mat-mini-fab color="primary" matTooltip="{{'budega.save' | translate }}" (click)="save()">
                    <fa-icon icon="save"></fa-icon>
                  </button>
                </div>
            </span>
            <div class='row'>
              <div class='col'>
                <img #userImage [hidden]='userImageUrl === undefined' width='150px' src='{{userImageUrl}}' alt='{{"budega.user.avatar.alt" | translate }}' />
                <div>
                  <button class='img-upload' type="button" mat-stroked-button (click)="fileInput.click()">{{'budega.upload.image' | translate }}</button>
                  <input hidden (change)="onFileChange($event)" #fileInput type="file" id="file">
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col'>
                <p>{{'budega.user.email.verified' | translate }}: <strong><fa-icon icon='{{emailVerified ? "check" : "ban"}}'></fa-icon></strong></p>
              </div>
              <!-- <div class='col'>
                <mat-slide-toggle [(ngModel)]="recheckEmail" [ngModelOptions]="{standalone: true}">{{ 'budega.user.email.recheck' | translate }}</mat-slide-toggle>
              </div> -->
              <!-- <div class='col'>
                <mat-slide-toggle [(ngModel)]="resetPassword" [ngModelOptions]="{standalone: true}">{{ 'budega.user.reset.password' | translate }}</mat-slide-toggle>
              </div> -->
            </div>
            <div class='row'>
              <mat-form-field class="col-md-5" [ngClass]="routeAnimationsElements">
                <input matInput type='text' placeholder="{{'budega.user.firstname' | translate }}"
                       formControlName="firstName">
                <mat-error *ngIf="form.get('firstName').invalid">
                  {{'budega.notempty' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-md-7" [ngClass]="routeAnimationsElements">
                <input matInput type='text' placeholder="{{'budega.user.lastname' | translate }}"
                       formControlName="lastName">
                <mat-error *ngIf="form.get('lastName').invalid">
                  {{'budega.notempty' | translate }}
                </mat-error>
              </mat-form-field>
              </div>
              <div class='row'>
                <mat-form-field class="col-12" [ngClass]="routeAnimationsElements">
                  <input matInput type='email' placeholder="{{'budega.user.email' | translate }}"
                         formControlName="email">
                  <mat-error *ngIf="form.get('email').invalid">
                    {{'budega.notempty' | translate }}
                  </mat-error>
            </mat-form-field>
            </div>

            <div class="row">
              <span class="d-flex justify-content-between align-items-baseline">
              <mat-form-field appearance="fill" class="col" [ngClass]="routeAnimationsElements">
                <mat-label>{{'budega.user.role' | translate }}</mat-label>
                <mat-select formControlName="clientRoles" [compareWith]="customCompare" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let role of roleListSelector" [value]="role">
                    {{ 'budega.role.'+role.name | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </span>
            </div>
          </mat-card>
      </div>
      </div>
    </form>
  </div>
</ng-container>
